<label class="mt-2">Tiện Nghi Trong Phòng</label>
<label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
    @Html.CheckBox("convenient") Điều Hòa
    <span class="checkmark"></span>
</label>
<label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
    @Html.CheckBox("convenient") Hệ Thống Sưởi Ấm
    <span class="checkmark"></span>
</label>
<label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
    @Html.CheckBox("convenient") Wifi Miến Phí
    <span class="checkmark"></span>
</label>
<label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
    @Html.CheckBox("convenient") Bếp 
    <span class="checkmark"></span>
</label>
<label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
    @Html.CheckBox("convenient") Máy Giặt
    <span class="checkmark"></span>
</label>
<label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
    @Html.CheckBox("convenient") TV Màn Hình Phẳng
    <span class="checkmark"></span>
</label>
<label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
    @Html.CheckBox("convenient") Hồ Bơi
    <span class="checkmark"></span>
</label>
<label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
    @Html.CheckBox("convenient") TV Màn Hình Phẳng
    <span class="checkmark"></span>
</label>
<label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
    @Html.CheckBox("convenient") TV Màn Hình Phẳng
    <span class="checkmark"></span>
</label>
<label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
    @Html.CheckBox("convenient") TV Màn Hình Phẳng
    <span class="checkmark"></span>
</label>
<label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
    @Html.CheckBox("convenient") TV Màn Hình Phẳng
    <span class="checkmark"></span>
</label>
<label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
    @Html.CheckBox("convenient") TV Màn Hình Phẳng
    <span class="checkmark"></span>
</label>

