
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Partner/Views/Shared/_LayoutPartnerMain.cshtml";
}

<div class="container">
    <h4 style="font-weight:bold">Nhập Thông Tin Liên Quan Đến Nơi Nghỉ Của Mình</h4>
    <div class="room__box active">
        <form class="room__form">
            <h5>Tên Chỗ Nghỉ</h5>
            <input type="text" placeholder="Nhập tên chỗ nghỉ" />
            <h5 class="mt-4">Tên Phòng Gợi Nhớ</h5>
            <input type="text" placeholder="Nhập tên phòng" />
            <button type="button" class="btn btn-primary">Tiếp Tục</button>
        </form>
        <div class="suggest">
            <div>
                <i class='bx bx-like'></i>
                <div>
                    <h4>Tôi nên chú ý điều gì khi chọn tên?</h4>
                    <ul class="d-flex flex-column gap-3">
                        <li>Chọn tên ngắn và hấp dẫn</li>
                        <li>Tránh sử dụng chữ viết tắt</li>
                        <li>Đúng với thực tế</li>
                    </ul>
                </div>
            </div>
            <div>
                <i class='bx bx-question-mark'></i>
                <div>
                    <h4>Tại sao tôi cần đặt tên cho chỗ nghỉ của mình?</h4>
                    <p>Tên này giống như tiêu đề đăng ký chỗ nghỉ của Quý vị trên trang web của chúng tôi. Tên này sẽ cho khách biết thông tin cụ thể về chỗ nghỉ, vị trí hoặc những gì Quý vị cung cấp.Điều này sẽ hiển thị cho bất cứ ai truy cập trang web của chúng tôi, vì vậy đừng bao gồm địa chỉ của Quý vị trong tên.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="room__box active ">
        <form class="room__form">
            <h5>Tỉnh/Thành Phố</h5>
            <select class="custom-select custom-select-lg mb-3">
                <option selected>Chọn Tỉnh/Thành Phố</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <h5 class="mt-2">Địa Điểm cụ thể</h5>
            <input type="text" placeholder="Nhập địa điểm" />
            <h5 class="mt-2">Mô tả địa điểm</h5>
            <textarea placeholder="Ex: cách trung tâm bao nhiêu km, gần biền không...?"></textarea>
            <button type="button" class="btn btn-primary">Tiếp Tục</button>
        </form>
        <div class="suggest">
            <div>
                <i class='bx bx-like'></i>
                <div>
                    <h4>Thông tin gì cần được bao gồm trong địa chỉ của tôi?</h4>
                    <ul class="d-flex flex-column gap-3">
                        <li>Bao gồm tên đường và số nhà</li>
                        <li>
                            Hãy viết tên đường chính xác
                        </li>
                        <li>Dùng địa chỉ thực sự của chỗ nghỉ, không dùng địa chỉ văn phòng hay nhà của Quý vị</li>
                    </ul>
                </div>
            </div>
            <div>
                <i class='bx bx-question-mark'></i>
                <div>
                    <h4>Tại sao tôi cần thêm địa chỉ của mình?</h4>
                    <p>Khi khách đặt chỗ nghỉ của Quý vị, đây là địa chỉ sẽ được chia sẻ với họ. Điều quan trọng là địa chỉ này phải chính xác để khách có thể dễ dàng tìm thấy chỗ nghỉ của Quý vị.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="room__box active  ">
        <form class="room__form">
            <h5>Loại Giường</h5>
            <select class="custom-select custom-select-lg mb-3">
                <option selected>Chọn Loại Giường</option>
                <option value="1">Giường Đơn</option>
                <option value="2">Giường Đôi</option>
                <option value="3">Giường Lớn</option>
                <option value="4">Giường Cực Lớn</option>
            </select>
            <h5 class="mt-2">Tiện Nghi Trong Phòng</h5>
            <div class="d-flex flex-wrap" style="gap:10px">
                <label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
                    @Html.CheckBox("convenient") Điều Hòa
                    <span class="checkmark"></span>
                </label>
                <label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
                    @Html.CheckBox("convenient") Hệ Thống Sưởi Ấm
                    <span class="checkmark"></span>
                </label>
                <label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
                    @Html.CheckBox("convenient") Wifi Miến Phí
                    <span class="checkmark"></span>
                </label>
                <label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
                    @Html.CheckBox("convenient") Bếp
                    <span class="checkmark"></span>
                </label>
                <label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
                    @Html.CheckBox("convenient") Máy Giặt
                    <span class="checkmark"></span>
                </label>
                <label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
                    @Html.CheckBox("convenient") TV Màn Hình Phẳng
                    <span class="checkmark"></span>
                </label>
                <label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
                    @Html.CheckBox("convenient") Hồ Bơi
                    <span class="checkmark"></span>
                </label>
                <label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
                    @Html.CheckBox("convenient") TV Màn Hình Phẳng
                    <span class="checkmark"></span>
                </label>
                <label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
                    @Html.CheckBox("convenient") TV Màn Hình Phẳng
                    <span class="checkmark"></span>
                </label>
            </div>
            <h5 class="mt-2">Mô tả chi tiết phòng</h5>
            <div id="editor" class="mb-3">
                <p></p>
            </div>
            <button type="button" class="btn btn-primary mt-3">Tiếp Tục</button>
        </form>
        <div class="suggest">

            <div>
                <i class='bx bx-question-mark'></i>
                <div>
                    <h4>Nếu tôi không thấy tiện nghi mà tôi có cung cấp thì sao?</h4>
                    <p>Các tiện nghi được liệt kê tại đây là các tiện nghi được khách tìm kiếm nhiều nhất. Sau khi hoàn tất đăng ký, Quý vị có thể thêm nhiều tiện nghi khác qua danh sách đầy đủ hơn trên extranet, kênh mà Quý vị sẽ sử dụng để quản lý chỗ nghỉ của mình.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="room__box active  ">
        <form class="room__form">
            <h5>Đăng tải ít nhất 5 ảnh của chỗ nghỉ. Càng đăng nhiều, Quý vị càng có cơ hội nhận đặt phòng. Quý vị có thể thêm ảnh sau.</h5>
            <div class="upload-iamge">
                <input type="file" id="file-input" accept="image/png, image/jpeg" onchange="preview()" multiple>
                <label for="file-input">
                    <i class='bx bx-upload'></i> &nbsp; Choose A Photo
                </label>
                <p class="text-center" id="num-of-files">No Files Chosen</p>
                <div id="images"></div>
            </div>
            <button type="button" class="btn btn-primary mt-3">Tiếp Tục</button>
        </form>
        <div class="suggest">

            <div>
                <i class='bx bx-question-mark'></i>
                <div>
                    <h4>Nếu tôi không có ảnh chụp chuyên nghiệp thì sao?</h4>
                    <p>Không sao cả! Quý vị có thể sử dụng smartphone hoặc máy ảnh kỹ thuật số.Sau đây là một số mẹo chụp ảnh đẹp cho chỗ nghỉ của Quý vị <br /> Tốt nhất Quý vị nên tránh sử dụng ảnh mà mình không biết tác giả. Quý vị chỉ nên sử dụng ảnh của người khác khi đã có sự chấp thuận của họ.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="room__box  ">
        <form class="room__form">
            <h5>Mức Giá Phòng Của Bạn</h5>
            <select class="custom-select custom-select-lg mb-3">
                <option selected>Chọn mức giá</option>
                <option value="1">VND 100.000 - VND 500.000</option>
                <option value="2">VND 100.000 - VND 500.000</option>
                <option value="3">VND 100.000 - VND 500.000</option>
                <option value="4">VND 100.000 - VND 500.000</option>
                <option value="5">VND 100.000 - VND 500.000</option>
            </select>
            <h5 class="mt-2">Giá cụ thể / 1 đêm</h5>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">VND</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="room__form-btn">
                <i class='bx bx-chevron-left'></i>
                <button type="button" class="btn btn-primary">Tiếp Tục</button>
            </div>
        </form>
        <div class="suggest">
           
            <div>
                <i class='bx bx-question-mark'></i>
                <div>
                    <h4>Nếu tôi cảm thấy chưa chắc chắn về giá thì sao?</h4>
                    <p>Đừng lo lắng, Quý vị có thể đổi lại bất cứ lúc nào. Thậm chí Quý vị có thể thiết lập giá cuối tuần, giữa tuần và theo mùa, nhờ đó giúp Quý vị kiểm soát doanh thu tốt hơn..</p>
                </div>
            </div>
        </div>
    </div>
</div>

