
@{
    ViewBag.Title = "NoiNghi";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<link rel="stylesheet" href="~/Content/hotel.css" />
<div class="container mt-5">
    <div class="row">
        <div class="col-3 hotel__fillter border rounded">
            <h4 class="my-3 font-weight-bold text-center">Chọn Lọc Theo</h4>
            @{Html.BeginForm("fillter", "Home");}
            <div class="hotel__fillter-group border-top pl-3 ">
                <p class="font-weight-bold mt-2">Ngân sách của bạn (mỗi đêm)</p>
                <span class="font-weight-light ">VND 100.000 - VND 3.000.000+</span>
                <label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
                    @Html.CheckBox("price")  100.000 - 500.000
                <span class="checkmark"></span>
            </label>
            <label class="font-weight-light hotel__fillter-item" style="font-size:14px">
                @Html.CheckBox("price")  500.000 - 1.000.000
            <span class="checkmark"></span>
        </label>
        <label class="font-weight-light hotel__fillter-item" style="font-size:14px">
            @Html.CheckBox("price")  1.000.000 - 1.500.000
        <span class="checkmark"></span>
        </label>
        <label class="font-weight-light hotel__fillter-item" style="font-size:14px">
            @Html.CheckBox("price")  1.500.000 - 2.000.000
        <span class="checkmark"></span>
        </label>
        <label class="font-weight-light hotel__fillter-item" style="font-size:14px">
            @Html.CheckBox("price")  2.000.000 - 2.500.000
        <span class="checkmark"></span>
        </label>
        <label class="font-weight-light hotel__fillter-item" style="font-size:14px">
            @Html.CheckBox("price")  2.500.000 - 3.000.000
        <span class="checkmark"></span>
        </label>
        <label class="font-weight-light hotel__fillter-item" style="font-size:14px">
            @Html.CheckBox("price")  3.000.000+
        <span class="checkmark"></span>
        </label>
        </div>
        <div class="hotel__fillter-group border-top pl-3 ">
            <p class="font-weight-bold mt-2">Loại Chỗ Ở</p>
            <label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
                @Html.CheckBox("category")  Khách Sạn
                <span class="checkmark"></span>
            </label>
            <label class="font-weight-light hotel__fillter-item" style="font-size:14px">
                @Html.CheckBox("category")  Resort
                <span class="checkmark"></span>
            </label>
            <label class="font-weight-light hotel__fillter-item" style="font-size:14px">
                @Html.CheckBox("category")  Căn Hộ
                <span class="checkmark"></span>
            </label>
            <label class="font-weight-light hotel__fillter-item" style="font-size:14px">
                @Html.CheckBox("category")  Biệt Thự
                <span class="checkmark"></span>
            </label>
            <label class="font-weight-light hotel__fillter-item" style="font-size:14px">
                @Html.CheckBox("category")  Nhà Gỗ
                <span class="checkmark"></span>
            </label>
            <label class="font-weight-light hotel__fillter-item" style="font-size:14px">
                @Html.CheckBox("category")  Nhà Nghỉ Mát
                <span class="checkmark"></span>
            </label>
            <label class="font-weight-light hotel__fillter-item" style="font-size:14px">
                @Html.CheckBox("category")  Nhà Sàn
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="hotel__fillter-group border-top pl-3 ">
            <p class="font-weight-bold mt-2">Tùy Chọn Loại Giường</p>
            <label class="font-weight-light hotel__fillter-item mt-2" style="font-size:14px">
                @Html.CheckBox("roomtype")  2 Giường Đơn
                <span class="checkmark"></span>
            </label>
            <label class="font-weight-light hotel__fillter-item" style="font-size:14px">
                @Html.CheckBox("roomtype")  1 Giường Đôi
                <span class="checkmark"></span>
            </label>
        </div>


        @{Html.EndForm();}
        </div>
        <div class="col-9">
            <h4>Vũng Tàu: <span>Tìm thấy 120 chỗ nghỉ</span> </h4>
            <div class="room__list ">

                <div class="room__box d-flex p-3 border rounded mb-5 ">
                    <div class="room__box-img mr-4">
                        <img src="~/Content/Images/resort.jpg" class="rounded" />
                    </div>
                    <div class="row room__box-content w-100">
                        <div class="col-8">
                            <h4 class="text-primary font-weight-bold">The Land Hotel & Apartment</h4>
                            <div class="room__box-address mb-3">
                                <a class="text-primary text-md font-weight-bold">Vũng Tàu</a>
                                <span class="font-weight-light text-md mx-3">Cách trung tâm 1km</span>
                                <span class="text-md font-weight-light">Gần biển</span>
                            </div>
                            <div class="room__box-sale bg-success d-inline py-1 px-2 text-md text-light rounded  ">Ữu đãi cuối năm</div>
                            <div class="room__box-decs mt-3 d-flex flex-column border-left border-susccess pl-3">
                                <span class="text-sm-left font-weight-bold">Phòng Superior Giường Đôi</span>
                                <span class="my-2 text-sm-left font-weight-light ">1 giường đôi lớn</span>
                                <span class="text-danger font-weight-bold">Chỉ còn lại 2 căn với giá này trên trang chúng tôi</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="room__box-price d-flex flex-column gap-3 h-100 justify-content-end ">
                                <span class="font-weight-light text-sm">1 đêm 2 người lớn</span>
                                <span style="font-size: 25px" class=" text-nowrap font-weight-bold">VND 247.500</span>
                                <span class="font-weight-light text-sm">Đã bao gồm thuế và phí</span>
                                <button class="btn btn-primary mt-3" type="submit">Xem Chỗ Trống</button>
                            </div>
                        </div>
                    </div>
                    <div class="room__heart ">
                        <i class='bx bx-heart'></i>
                        <i class='bx bxs-heart '></i>
                    </div>
                </div>

                <div class="room__box d-flex p-3 border rounded mb-5 ">
                    <div class="room__box-img mr-4">
                        <img src="~/Content/Images/resort.jpg" class="rounded" />
                    </div>
                    <div class="row room__box-content w-100">
                        <div class="col-8">
                            <h4 class="text-primary font-weight-bold">The Land Hotel & Apartment</h4>
                            <div class="room__box-address mb-3">
                                <a class="text-primary text-md font-weight-bold">Vũng Tàu</a>
                                <span class="font-weight-light text-md mx-3">Cách trung tâm 1km</span>
                                <span class="text-md font-weight-light">Gần biển</span>
                            </div>
                            <div class="room__box-sale bg-success d-inline py-1 px-2 text-md text-light rounded  ">Ữu đãi cuối năm</div>
                            <div class="room__box-decs mt-3 d-flex flex-column border-left border-susccess pl-3">
                                <span class="text-sm-left font-weight-bold">Phòng Superior Giường Đôi</span>
                                <span class="my-2 text-sm-left font-weight-light ">1 giường đôi lớn</span>
                                <span class="text-danger font-weight-bold">Chỉ còn lại 2 căn với giá này trên trang chúng tôi</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="room__box-price d-flex flex-column gap-3 h-100 justify-content-end ">
                                <span class="font-weight-light text-sm">1 đêm 2 người lớn</span>
                                <span style="font-size: 25px" class=" text-nowrap font-weight-bold">VND 247.500</span>
                                <span class="font-weight-light text-sm">Đã bao gồm thuế và phí</span>
                                <button class="btn btn-primary mt-3" type="submit">Xem Chỗ Trống</button>
                            </div>
                        </div>
                    </div>
                    <div class="room__heart ">
                        <i class='bx bx-heart'></i>
                        <i class='bx bxs-heart '></i>
                    </div>
                </div>

                <div class="room__box d-flex p-3 border rounded mb-5 ">
                    <div class="room__box-img mr-4">
                        <img src="~/Content/Images/resort.jpg" class="rounded" />
                    </div>
                    <div class="row room__box-content w-100">
                        <div class="col-8">
                            <h4 class="text-primary font-weight-bold">The Land Hotel & Apartment</h4>
                            <div class="room__box-address mb-3">
                                <a class="text-primary text-md font-weight-bold">Vũng Tàu</a>
                                <span class="font-weight-light text-md mx-3">Cách trung tâm 1km</span>
                                <span class="text-md font-weight-light">Gần biển</span>
                            </div>
                            <div class="room__box-sale bg-success d-inline py-1 px-2 text-md text-light rounded  ">Ữu đãi cuối năm</div>
                            <div class="room__box-decs mt-3 d-flex flex-column border-left border-susccess pl-3">
                                <span class="text-sm-left font-weight-bold">Phòng Superior Giường Đôi</span>
                                <span class="my-2 text-sm-left font-weight-light ">1 giường đôi lớn</span>
                                <span class="text-danger font-weight-bold">Chỉ còn lại 2 căn với giá này trên trang chúng tôi</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="room__box-price d-flex flex-column gap-3 h-100 justify-content-end ">
                                <span class="font-weight-light text-sm">1 đêm 2 người lớn</span>
                                <span style="font-size: 25px" class=" text-nowrap font-weight-bold">VND 247.500</span>
                                <span class="font-weight-light text-sm">Đã bao gồm thuế và phí</span>
                                <button class="btn btn-primary mt-3" type="submit">Xem Chỗ Trống</button>
                            </div>
                        </div>
                    </div>
                    <div class="room__heart ">
                        <i class='bx bx-heart'></i>
                        <i class='bx bxs-heart '></i>
                    </div>
                </div>

                <div class="room__box d-flex p-3 border rounded mb-5 ">
                    <div class="room__box-img mr-4">
                        <img src="~/Content/Images/resort.jpg" class="rounded" />
                    </div>
                    <div class="row room__box-content w-100">
                        <div class="col-8">
                            <h4 class="text-primary font-weight-bold">The Land Hotel & Apartment</h4>
                            <div class="room__box-address mb-3">
                                <a class="text-primary text-md font-weight-bold">Vũng Tàu</a>
                                <span class="font-weight-light text-md mx-3">Cách trung tâm 1km</span>
                                <span class="text-md font-weight-light">Gần biển</span>
                            </div>
                            <div class="room__box-sale bg-success d-inline py-1 px-2 text-md text-light rounded  ">Ữu đãi cuối năm</div>
                            <div class="room__box-decs mt-3 d-flex flex-column border-left border-susccess pl-3">
                                <span class="text-sm-left font-weight-bold">Phòng Superior Giường Đôi</span>
                                <span class="my-2 text-sm-left font-weight-light ">1 giường đôi lớn</span>
                                <span class="text-danger font-weight-bold">Chỉ còn lại 2 căn với giá này trên trang chúng tôi</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="room__box-price d-flex flex-column gap-3 h-100 justify-content-end ">
                                <span class="font-weight-light text-sm">1 đêm 2 người lớn</span>
                                <span style="font-size: 25px" class=" text-nowrap font-weight-bold">VND 247.500</span>
                                <span class="font-weight-light text-sm">Đã bao gồm thuế và phí</span>
                                <button class="btn btn-primary mt-3" type="submit">Xem Chỗ Trống</button>
                            </div>
                        </div>
                    </div>
                    <div class="room__heart ">
                        <i class='bx bx-heart'></i>
                        <i class='bx bxs-heart '></i>
                    </div>
                </div>

                <div class="room__box d-flex p-3 border rounded mb-5 ">
                    <div class="room__box-img mr-4">
                        <img src="~/Content/Images/resort.jpg" class="rounded" />
                    </div>
                    <div class="row room__box-content w-100">
                        <div class="col-8">
                            <h4 class="text-primary font-weight-bold">The Land Hotel & Apartment</h4>
                            <div class="room__box-address mb-3">
                                <a class="text-primary text-md font-weight-bold">Vũng Tàu</a>
                                <span class="font-weight-light text-md mx-3">Cách trung tâm 1km</span>
                                <span class="text-md font-weight-light">Gần biển</span>
                            </div>
                            <div class="room__box-sale bg-success d-inline py-1 px-2 text-md text-light rounded  ">Ữu đãi cuối năm</div>
                            <div class="room__box-decs mt-3 d-flex flex-column border-left border-susccess pl-3">
                                <span class="text-sm-left font-weight-bold">Phòng Superior Giường Đôi</span>
                                <span class="my-2 text-sm-left font-weight-light ">1 giường đôi lớn</span>
                                <span class="text-danger font-weight-bold">Chỉ còn lại 2 căn với giá này trên trang chúng tôi</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="room__box-price d-flex flex-column gap-3 h-100 justify-content-end ">
                                <span class="font-weight-light text-sm">1 đêm 2 người lớn</span>
                                <span style="font-size: 25px" class=" text-nowrap font-weight-bold">VND 247.500</span>
                                <span class="font-weight-light text-sm">Đã bao gồm thuế và phí</span>
                                <button class="btn btn-primary mt-3" type="submit">Xem Chỗ Trống</button>
                            </div>
                        </div>
                    </div>
                    <div class="room__heart ">
                        <i class='bx bx-heart'></i>
                        <i class='bx bxs-heart '></i>
                    </div>
                </div>


                <div class="room__box d-flex p-3 border rounded mb-5 ">
                    <div class="room__box-img mr-4">
                        <img src="~/Content/Images/resort.jpg" class="rounded" />
                    </div>
                    <div class="row room__box-content w-100">
                        <div class="col-8">
                            <h4 class="text-primary font-weight-bold">The Land Hotel & Apartment</h4>
                            <div class="room__box-address mb-3">
                                <a class="text-primary text-md font-weight-bold">Vũng Tàu</a>
                                <span class="font-weight-light text-md mx-3">Cách trung tâm 1km</span>
                                <span class="text-md font-weight-light">Gần biển</span>
                            </div>
                            <div class="room__box-sale bg-success d-inline py-1 px-2 text-md text-light rounded  ">Ữu đãi cuối năm</div>
                            <div class="room__box-decs mt-3 d-flex flex-column border-left border-susccess pl-3">
                                <span class="text-sm-left font-weight-bold">Phòng Superior Giường Đôi</span>
                                <span class="my-2 text-sm-left font-weight-light ">1 giường đôi lớn</span>
                                <span class="text-danger font-weight-bold">Chỉ còn lại 2 căn với giá này trên trang chúng tôi</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="room__box-price d-flex flex-column gap-3 h-100 justify-content-end ">
                                <span class="font-weight-light text-sm">1 đêm 2 người lớn</span>
                                <span style="font-size: 25px" class=" text-nowrap font-weight-bold">VND 247.500</span>
                                <span class="font-weight-light text-sm">Đã bao gồm thuế và phí</span>
                                <button class="btn btn-primary mt-3" type="submit">Xem Chỗ Trống</button>
                            </div>
                        </div>
                    </div>
                    <div class="room__heart ">
                        <i class='bx bx-heart'></i>
                        <i class='bx bxs-heart '></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

